PORT=8080
GCP_PROJECT_ID=pochifify-dev
SPANNER_INSTANCE_ID=pochifify
SPANNER_DATABASE_ID=pochifify-server

FINCODE_API_KEY="Bearer m_test_NWIwOWY1YWQtYThlNi00NzBlLWJmZGQtYTdiOWM2NzAzYWZmYmM3OGIxOTktMDFkNC00ZTgzLTljMDItMmViN2EwYzZkMjJmc18yMzAxMDEzMTYzNg"
FINCODE_BASE_URL=https://api.test.fincode.jp

IS_PAYPAY_PRODUCTION=false
PAYPAY_API_KEY_ID=a_TP8fYeCkDN_VZz5
PAYPAY_API_SECRET=xxx
PAYPAY_MERCHANT_ID=585257786376380416
PAYPAY_REDIRECT_URL=https://pochirify-frontend.vercel.app
